body{
  background: url(".././images/lightFocusBrushBackground.jpg");
  background: url(".././images/generalBackground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

label[for="monkeyCSVInput"]{
  background: red;
  color: white;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

label[for="monkeyCSVInput"]:hover{
  border: 1px solid white;
}

input[name='Discipline']{
  display: none;
}
