body{
  background: url("../.././images/lightFocusBrushBackground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#div_heading, #div_output, #div_sp_output, #discrepancies_output{
  max-width: 576px;
	background: rgba(250, 250, 250,0.8);
	padding: 15px;
	margin: 10px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #1379a5;
  font-family: verdana;
}

#information_pane{
  max-width: 576px;
	background: rgba(250, 250, 250,0.8);
	padding: 15px;
	margin: 10px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #1379a5;
  font-family: verdana;
  position: fixed;
  left: 85%;
}
